{% set form = craft.expressforms.form(handle) %}

{# Macro for Field Errors #}
{% macro renderErrors(field) %}
	{% if field.hasErrors and field.errors|length %}
		<ul class="errors">
			{% for error in field.errors %}
				<li>{{ error|t }}</li>
			{% endfor %}
		</ul>
	{% endif %}
{% endmacro %}
{% import _self as forms %}

{# Scroll back to the form #}
{% if form.submitted or form.submittedSuccessfully %}
  <script>
    window.addEventListener('DOMContentLoaded', event => {
      document.getElementById("form-{{handle}}").scrollIntoView();
    })
  </script>
{% endif %}

<div id="form-{{handle}}">
  {# Flash Success #}
  {% if form.submittedSuccessfully %}
    <div class="py-4 font-bold mb-6" role="alert">
      {{ "Form has been submitted successfully!"|t }}
    </div>
    <script>
      window.addEventListener('DOMContentLoaded', (event) => {
        window.dataLayer = window.dataLayer || []; 
        window.dataLayer.push({ 
          event: 'formSubmissionSuccess', 
          formId: '{{handle}}'
        });
      });
    </script>
  {% endif %}
  
	{# General Error Handling #}
	{% if not form.valid %}
		<div class="bg-red-100 py-4 px-6 font-bold mb-6" role="alert">
			{{ "Error! Please review the form and try submitting again."|t }}
			{% if form.errors|length %}
				<ul>
					{% for error in form.errors %}
						<li>{{ error|t }}</li>
					{% endfor %}
				</ul>
			{% endif %}
		</div>
	{% endif %}

  {# Automatically set Form tags with Return, CSRF and Honeypot (if enabled) #}
  {{ form.openTag({ return: '?success=1' }) }}

  {# Automation of Field Rendering #}
  {% for columns in form.fields|batch(2, null) %}
    <div class="flex flex-wrap -mx-2 mb-2">
      {% for field in columns %}
        {% if field.type == "hidden" %}
          <input type="hidden" name="{{ field.handle }}">
        {% elseif field.type == "textarea" %}

        {% elseif field.type == "checkbox" %}

        {% else %}
          <div class="w-full md:w-1/2 px-2 mb-2 md:mb-0">
            {% include "express-forms/_fields/input.twig" %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  {% endfor %}

  {# Automation of Field Rendering #}
  {% for field in form.fields %}
    {% if field.type == "textarea" %}
      {% include 'express-forms/_fields/textarea.twig' %}
    {% elseif field.type == "checkbox" %}
      {% include 'express-forms/_fields/checkbox.twig' %}
    {% endif %}
  {% endfor %}

  <button type="submit" class="button button-normal">{{"Submit"|t}}</button>

  {{ form.closeTag }}
</div>
