
{% macro input(attributes, label = false, object = false) %}

  {% set attr = attributes(attributes, {'class':'form-input border shadow-sm w-full'}) %}

  <label class="block mb-6 w-full">
    {% if label %}
      <span class="block text-gray-700 mb-1">{{ label }}</span>
    {% endif %}

    <input {% for key, value in attr %} {{key}}="{{value}}" {% endfor %}>

    {% import "_components/forms.twig" as forms %}

    {% if object %}
      <span class="block mt-2 mb-6">
			  {{ forms.errorList(object.getErrors(attr.name)) }}
      </span>
    {% endif %}
  </label>
{% endmacro %}

{% macro textarea(attributes, label = false) %}

  {% set attr = attributes(attributes, {'class':'form-textarea'}) %}

  <label class="block mb-6 w-full">
    {% if label %}
      <span class="block text-gray-700 mb-1">{{ label }}</span>
    {% endif %}
    <textarea {% for key, value in attr %} {{key}}="{{value}}" {% endfor %}></textarea>
  </label>
{% endmacro %}

{% macro checkbox(attributes, label = false) %}

  {% set attr = attributes(attributes, {'class':'form-checkbox'}) %}

  <label class="flex mb-6 cursor-pointer">
    <input type="checkbox" {% for key, value in attr %} {{key}}="{{value}}" {% endfor %}>
    <p class="text-gray-700 -mt-1">
      {{ label ?? '' }}
    </p>
  </label>

{% endmacro %}

{% macro submit(label = 'Continua', attributes = {}) %}

  {% set attr = attributes(attributes, {type:'submit', 'class':'button button-primary w-full text-center flex items-center justify-center'}) %}

  <button {% for key, value in attr %} {{key}}="{{value}}" {% endfor %}>
  <span>{{label}}</span>
  <svg class="h-5 w-5 ml-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3" />
  </svg>
  </button>

{% endmacro %}

{% macro errorList(errors) %}
  {% if errors %}
    <ul class="text-red-700">
      {% for error in errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
